body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "navbar navbar navbar navbar navbar navbar"
    "menu menu menu right right right";

  grid-gap: 5px;

  padding: 0px;
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.item1 {
  grid-area: header;
  height: 9px;
}
.item2 {
  grid-area: navbar;
  height: 20px;
  background-color: rgb(250, 252, 252);
}
.item3 {
  grid-area: menu;
  height: 500px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibred, 'Trebuchet MS', sans-serif;
  font-size: 12px;
  background-color: rgb(228, 228, 228);
  
}
 

.item4 {
  grid-area: main;
  background-size: cover ; 
  grid-area: 3/2 / span 2 / span 3;
  z-index: 1;
  height: 350px;
  margin: 50px;
  margin-left: 300px;
  background:url(./images/img1.jpg)
}
.item5 {
  grid-area: right;
  background-color: rgb(202, 5, 5);
}
.items .smallpic{
  
  background: url(./images/img2.jpg);
}

.topnav {
  margin-top: -10px;
  overflow: hidden;
  background-color: rgb(243, 246, 248);
  display: flex;
  justify-content: center;
}

.topnav a {
  color: #141414;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: rgb(243, 245, 247);
}

.topnav a.active {
  background-color: #fd0808;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: rgb(255, 255, 255);
  justify-content: space-between;
  margin-top: -20px;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 80px;
  margin: 2px;
  text-align: center;
  line-height: 45px;
  font-size: 30px;
}
.ava {
  background: url(./images/icon.jpeg);
  background-size: contain;
}
